.section-portfolio {
    background-color: #fff;
    color: #2C3E50;
}

.section-portfolio > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 60px 20px;
}

.section-portfolio > .container h3 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-portfolio > .container > .content {
    display: flex;
    margin: 20px 0;
}

.section-portfolio > .container .content div {
    padding: 20px;
    text-align: center;
}

.section-portfolio > .container > .content img {
    width: 30%;
    margin: 5px;
    border-radius: 10px;
}